body{
    background-color: rgba(255, 237, 191, 1);
    font-family: 'Bebas Neue', sans-serif;
}



.flexbox {
    align-items:center;
    display: flex;
    height: 90px;
    justify-content: center;
    width: 480px;
    background: rgba(46, 13, 35, 1);
    color: rgba(255, 237, 191, 1);
    letter-spacing: 4px;
    font-size: 25px;
  }

#productosTop{
    background: rgba(0, 0, 0, .06);
    height: 270px;
    width: 720px;
    border-radius: 20px;
    margin: 10px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 25px;
}
#sectionBarraNavegacion{
    display: flex;
    margin: 10px;

}
#sectionProductosTop{
    display: flex;
}

.imagenTop{
    width: 190px;
    height: 190px;
    border-radius: 125px;
    margin-left: 13px;
}

#productosMasMenos{
    background: rgba(0, 0, 0, .06);
    height: 370px;
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.encabezadosMasMenosVendidos{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 720px;
    margin-left: 10px;
    font-size: 22px;

}
.sectionencabezadosMasMenosVendidos{
    display: flex;
}

.imagenProducto{
    width: 130px;
    height: 130px;
    border-radius: 125px;
}

#referenciasProductos{
    background: rgba(0, 0, 0, .06);
    height: 365px;
    width: 380px;
    border-radius: 20px;
    margin: 10px;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 25px;
}

.imagenReferencia{
    height: 100px;
    width: 100px;
    border-radius: 125px;
    margin-left: 40px;
    margin-top: 10px;
    padding-top: 0px;
}

.barraNavegacionProductos{
    background-color: aqua;
    height: 90px;
    width: 1440px;
}



.nav-bg {
    background-color: var(--claro);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}